<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-for</title>
    <script src="../lib/vue.js"></script>
</head>
<body>
<div id="vm">

    <ol>
        <li v-for="flight in flights" :key="flight.id">{{flight.num}}</li>
    </ol>

    <ul>
        <li v-for="(flight, index) in flights" :key="flight.id">{{index+1}}. {{flight.num}}</li>
    </ul>
</div>

<div id="vm2">
    <ul>
        <li v-for="(item, key, index) in person">{{item}} · {{key}} · {{index}}</li>
    </ul>
</div>
<script>
    var vm = new Vue({
        el: '#vm',
        data: {
           flights: [{num: 'NH956', id: '1e8ca'}, {num: 'CA103', id: '2xsa5'}]
        }
    });
    //在 v-for 块中拥有对父作用域属性的完全访问权限。
    //v-for中可以额外传第二个参数 - index
    //也可以用of 代替 in 作为分隔符， of是最接近js迭代器的语法


    //对象的v-for
    //也可以提供第二个参数为键名, 第三个参数为索引
    /**
     * 在遍历对象时，是按 Object.keys() 的结果遍历，但是不能保证它的结果在不同的 JavaScript 引擎下是一致的。
     *
     * 建议尽可能在使用 v-for 时提供 key，除非遍历输出的 DOM 内容非常简单，或者是刻意依赖默认行为以获取性能上的提升。
     */
    var vm2 = new Vue({
        el: '#vm2',
        data: {
            person: {
                firstName: 'John',
                lastName: 'Doe',
                age: 30
            }
        }
    });

    /**
     * 变异方法：会改变原始数组，例如:push(), pop(), shift(), unshift(), splice(), sort(), reverse()
     * 非变异方法：不会改变原始数组，但总是会返回一个新数组，例如：filter(), concat() 和 slice() 。
     */
    //在使用非变异方法的时候，可以用新数组代替旧数组，这并不会在性能方面存在问题，是一个高效操作，Vue不会丢弃现有DOM再重新渲染。

    /**
     * 由于js限制， Vue不能检测两种数组操作，也不能检测对象属性的添加或删除
     * 1. 当你利用索引直接设置一个项时，例如：vm.items[indexOfItem] = newValue
     * 2. 当你修改数组的长度时，例如：vm.items.length = newLength
     *
     * **对于已经创建的实例，Vue 不能动态添加 根级别 的响应式属性。e.g vm.b = 2 不可以动态添加，不会响应
     * 但是，可以使用 Vue.set(object, key, value) 方法向  嵌套对象  添加响应式属性。
     * 即，只可以向data中已经存在的对象添加响应式属性
     */
    // e.g:数组操作1
    vm.flights[0] = {num: 'CZ6325', id: '12123'};
    // e.g:数组操作2
    vm.flights.splice(1);

    //e.g 对象更改  向vm2.person中添加性别属性(两种方式都可以,vm.$set是Vue.set的别名)
    //Vue.set(vm2.person, "gender", "男")
    vm2.$set(vm2.person, "gender", "男");

    //e.g. 需要同时赋予对象多个属性的时候
    vm2.person = Object.assign({}, vm2.person, {
        fullName: 'changhong Wang',
        job: 'Web Developer'
    });













</script>
</body>
</html>