<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-for</title>
    <script src="../lib/vue.js"></script>
</head>
<body>
<div id="vm">

    <ol>
        <li v-for="flight in flights">{{flight.num}}</li>
    </ol>

    <ul>
        <li v-for="(flight, index) in flights">{{index+1}}. {{flight.num}}</li>
    </ul>
</div>

<div id="vm2">
    <ul>
        <li v-for="(item, key, index) in person">{{item}} · {{key}} · {{index}}</li>
    </ul>
</div>
<script>
    var vm = new Vue({
        el: '#vm',
        data: {
           flights: [{num: 'NH956'}, {num: 'CA103'}]
        }
    })
    //在 v-for 块中拥有对父作用域属性的完全访问权限。
    //v-for中可以额外传第二个参数 - index
    //也可以用of 代替 in 作为分隔符， of是最接近js迭代器的语法


    //对象的v-for
    //也可以提供第二个参数为键名, 第三个参数为索引
    /**
     * 在遍历对象时，是按 Object.keys() 的结果遍历，但是不能保证它的结果在不同的 JavaScript 引擎下是一致的。
     *
     * 建议尽可能在使用 v-for 时提供 key，除非遍历输出的 DOM 内容非常简单，或者是刻意依赖默认行为以获取性能上的提升。
     */
    var vm2 = new Vue({
        el: '#vm2',
        data: {
            person: {
                firstName: 'John',
                lastName: 'Doe',
                age: 30
            }
        }
    })

    /**
     * Vue包含一组数组的变异方法，push(), pop(), shift(), unshift(), splice(), sort(), reverse()
     *
     * 变异方法 (mutation method)，即会 改变 被 这些方法 调用 的 原始数组。
     * 非变异方法不会改变原始数组，但 总是 会返回一个新数组，例如：filter(), concat() 和 slice() 。
     *
     * 当使用非变异方法时，可以用新数组替换旧数组。
     * 你可能认为这将导致 Vue 丢弃现有 DOM 并重新渲染整个列表。
     * 幸运的是，事实并非如此。Vue 为了使得 DOM 元素得到最大范围的重用而实现了一些智能的、启发式的方法，
     * 所以用一个含有相同元素的数组去替换原来的数组是非常高效的操作。
     */

</script>
</body>
</html>